name: release-plz

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    release-plz-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: "1.93.1"

            - uses: release-plz/action@v0.5.126
              with:
                  command: release
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
