name: release-plz

on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write

jobs:
    release-plz-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - uses: dtolnay/rust-toolchain@stable

            - uses: release-plz/action@v0.5.126
              with:
                  command: release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

    release-plz-pr:
        runs-on: ubuntu-latest
        concurrency:
            group: release-plz-pr-${{ github.ref }}
            cancel-in-progress: false
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - uses: dtolnay/rust-toolchain@stable

            - uses: release-plz/action@v0.5.126
              with:
                  command: release-pr
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
