name: release-plz

on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write

jobs:
    release-plz:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: release-plz/action@v0.5
              with:
                  command: release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
